{{>navbar}}

<div class="container">
  <div class="row">
    <h2>Welcome</h2>
  </div>
</div>

<div id="card-deck" class="row">
  <!-- Middle Card -->
  <div id="card" class="col s12 m4">
    <div id="middle-card" class="card">
      <div class="card-content white-text">
        <i id="fa" class="fas fa-search"></i>
        <span class="card-title">Location of TP</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a id="card-text" href="/input">Input</a>
      </div>
    </div>
  </div>
  <!-- Right Card -->
  <div id="card" class="col s12 m4">
    <div id="right-card" class="card">
      <div class="card-content white-text">
        <i id="fa" class="far fa-keyboard"></i>
        <span class="card-title">In search of TP</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a id="card-text" href="/search">ISO</a>
      </div>
    </div>
  </div>
</div>

{{>footer}}

<script src="/js/home.js" type="text/javascript"></script>