{{>navbar}}

<div class="container">
  <div class="row">
  <div class="col left">
    <h3>Found TP Here</h3>

    <form class="Found">

      <div class="form-group col">
        <label for="store">Store</label>
        <input type="text" class="form-control" id="store-input" placeholder="Enter Store Name Here" />
      </div>

      <div class="form-group col">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city-input" placeholder="Enter City Here" />
      </div>

      <div class="form-group col">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state-input" placeholder="Select State From Dropdown" />
      </div>
      
      <div class="form-group col">
        <label for="zipCode">Zip Code</label>
        <input type="text" class="form-control" id="zip-code-input" placeholder="Enter Zip Code Here" />
      </div>

      <div style="display: none" id="alert" class="alert alert-danger" role="alert" >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>

    <button type="submit" class="btn col">Submit</button>
    </form>

  </div>
  </div>
</div>

{{>footer}}
