{{>navbar}}

<div class="container">
  <div class="row">
  <div class="col left">
    <h3>Found TP Here</h3>

    <form action='/api/test' method='post' class="Found">

      <div class="input-field col">
        <label for="store">Store</label><br>
        <input type="text" class="validate" id="store-input" name='store' placeholder="Enter Store Name Here" />
      </div>

      <div class="input-field col">
        <label for="city">City</label><br>
        <input type="text" class="validate" id="city-input" name='city' placeholder="Enter City Here" />
      </div>

      <div class="input-field col">
        <label for="state">State</label><br>
        <input type="text" class="validate" id="state-input" name='state' placeholder="Select State From Dropdown" />
      </div>
      
      <div class="input-field col">
        <label for="zipCode">Zip Code</label><br>
        <input type="text" class="validate" id="zip-code-input" name='zip' placeholder="Enter Zip Code Here" />
      </div>

      <div style="display: none" id="alert" class="alert alert-danger" role="alert" >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>

    <button type="submit" class="btn col">Submit</button>
    </form>

  </div>
  </div>
</div>

{{>footer}}
